<div ng-include="'client/views/partials/header.html'" ></div>
<div class="information-container" ng-init="url = 'client/views/partials/stats.html'">


	<div class="side-menu">
		<div class="list-group">
			<a id="stats" href="#" class="list-group-item active text-center"  data-toggle="tooltip"
					data-placement="right" title="STATS"
					ng-click="url = 'client/views/partials/stats.html'" onclick="changeActive('stats')">
				<h2><span class="glyphicon glyphicon-stats"></span></h2>
				STATS
			</a>
			<a id="region" href="#" class="list-group-item text-center"  data-toggle="tooltip" data-placement="right"
					title="REGIONS MANAGEMENT"
					ng-click="url = 'client/views/partials/region_management.html'"  onclick="changeActive('region')">
				<h2><span class="glyphicon glyphicon-th"></span></h2>
				<small>REGIONS</small>
			</a>
		</div>
	</div>
	<div class="col-sm-11" ng-init="redirectUser();" style="margin-left: 8.33333333%;" >
		<div ng-include="url"></div>
	</div>
</div>

<script>
 function changeActive(tab){
 	$("#stats").removeClass("active");
	$("#region").removeClass("active");
	$("#"+tab).addClass("active");
 }
</script>
