<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Wamitab Dashboard</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">      
         <a href="" class="btn btn-danger navbar-btn navbar-right" ng-click="logout()">Logout</a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="text-success" style="color:green !important" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                 Create</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        
    </div>
</nav>



<div class="container">
    <div class="row">        
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 5</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 19</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>                       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 2</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 4</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 22</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>               
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 1</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 31</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 23</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 4</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>               
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 7</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-sm-6 col-md-3 col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Company 8</div>
                <div class="panel-body">
                    Phone: +1000000<br>
                    Address: Streetv43<br><br><br>
                    <div class="col-xs-12 text-right">
                       <a type="button" class="btn btn-success btn-sm" aria-label="Left Align" title="Manage users"
                           href="users">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                       </a>
                       <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align" title="Get report"
                           ng-click="showReport()">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                       </button>
                       <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" title="Edit company"
                            data-toggle="modal" data-target="#EditCompany">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" title="Delete company"
                           onclick="deleteCompany()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>       
    </div>    
</div>








<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Company</h4>
      </div>
      <div class="modal-body">
        
          <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone">
          </div>          
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address">
          </div>          
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
              <textarea type="text" class="form-control" id="exampleInputPassword1" ></textarea>
          </div>
        </form>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>









<!-- Modal -->
<div class="modal fade" id="EditCompany" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Company</h4>
      </div>
      <div class="modal-body">
        
          <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" value="company name to edit">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone" value="+3242341">
          </div>          
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address" value="Address to edit">
          </div>          
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
              <textarea type="text" class="form-control" id="exampleInputPassword1" >Description of the company</textarea>
          </div>
        </form>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>


<script>
    var deleteCompany = function(){
        alert("Company Deleted, this is a mockup!");
    }    
</script>
