<div ng-include="'client/views/partials/header.html'" ></div>



<div class="container" ng-init="loadInformation()" >
    <div class="col-xs-12 columns">
        <div class="paper">
            <!--<div class="text-center">
                <h1>Report</h1>

            <hr width="100%">
            </div>
            <ul style="padding: 50px">
                <li>Number of sessions:  <strong>500 sessions per day</strong></li>
                <li>Android user:  <strong>250 active users</strong></li>
                <li>Iphone user:  <strong>250 active users</strong></li>
                <li>Number of orders completed:  <strong>234 Oders completed in total</strong></li>
                <li>Number of orders completed per day:  <strong>14 Oders completed per day</strong></li>
                <li><strong>23</strong> pdf completed</li>

                <br>
                <h4>Users in the company</h4>
                <li>2 Regional Managers</li>
                <li>10 Assessors</li>
            </ul>-->
            <div class="col-xs-12 text-center title">
            	<h1>Report</h1>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="2" class="text-center"> <h2>Users</h2></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    	<td colspan="2">
							<div  ng-if="showAlertProcessUsers" class=" col-xs-12 center-block" >
									<img src="client/images/loading.gif" class="center-block img-responsive" width=150px>
							</div>
							<div class="col-xs-8" >
								<canvas id="myChart" width="300" height="300" class="center-block"></canvas>
							</div>
							<div class="col-xs-4" style="magin-top:50px !important">
								<div id="js-legend" class="chart-legend center-block"></div>
							</div>
						</td>
                    </tr>
                     <tr>
                        <th>Number total of users</th>
                        <td>{{totalUsers}}</td>
                    </tr>

                    <tr>
                        <td>Regional Manager</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Managers</td>
                        <td>{{countManager}}</td>
                    </tr>
                    <tr>
                        <td>Assessor</td>
                        <td>{{countAssessor}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="4" class="text-center"> <h2>AUDITS</h2></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    	<td colspan="4">
                    	<div  ng-if="showAlertProcessAudits" class=" col-xs-12 center-block" >
								<img src="client/images/loading.gif" class="center-block img-responsive" width=150px>
						</div>
                    	<div class="col-xs-8" >
							<canvas id="myChartAudits" width="400" height="300" class="center-block"></canvas>
						</div>
						<div class="col-xs-4" style="magin-top:50px !important">
							<div id="js-legend-audits" class="chart-legend center-block"></div>
						</div>
						</td>
                    </tr>
                    <tr>
                        <th class="text-center">User</th>
                        <th class="text-center"># Pending</th>
                        <th class="text-center"># Completed</th>
                    </tr>
                     <tr ng-repeat="audit in audits">
                        <td>{{audit.username}}</td>
                        <td>{{audit.pending}}</td>
                        <td>{{audit.completed}}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td colspan="4" class="text-center"> <h2>CONNECTIONS</h2></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-center"> User</th>
                        <th class="text-center">Designation</th>
                        <th class="text-center">Actual connection</th>
                        <th class="text-center">Type of connection</th>
                    </tr>
                     <tr ng-repeat="session in sessions">
                        <td>{{session.username}}</td>
                        <td>{{session.designation}}</td>
                        <td>{{session.lastConnection | date:"dd/MM/yyyy HH:mm"}}</td>
                        <td>{{session.type | date:"dd/MM/yyyy HH:mm"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary hidden-print center-block" onclick="printReport()" style="margin-bottom:100px">
            Print
        </a>
    </div>
</div>


<script>
var printReport = function(){
    window.print();
}
</script>
