

   <div class="row">
	<div class="col-xs-12 text-center title">
		<h1>USER STATS</h1>
	</div>
   </div>
   <div class="row"  ng-init="loadStats();">
		<div  ng-if="showAlertUserAnalytics" class=" col-xs-12 center-block" >
				<img src="client/images/loading.gif" class="center-block img-responsive" width=150px>
				<h1 style="text:white">{{showAlertUserAnalytics}}</h1>
		</div>
		<div class="col-xs-6" >
			<canvas id="myChartUsersRound" width="300" height="300" class="center-block"></canvas>
		</div>
		<div class="col-xs-6" >
			<canvas id="myChartUsersBars" width="300" height="300" class="center-block"></canvas>
		</div>
		<div class="col-xs-4 col-xs-offset-4" style="magin-top:50px !important;color:white">
			<div id="js-legend-users" class="chart-legend "></div>
		</div>
   </div>
